@model IEnumerable<mycantina.UI.ViewModels.Review.ReviewIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BottleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BottleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { consumerId = item.ConsumerId, bottleId = item.BottleId }) |
            @Html.ActionLink("Details", "Details", new { consumerId = item.ConsumerId, bottleId = item.BottleId }) |
            @Html.ActionLink("Delete", "Delete", new { consumerId = item.ConsumerId, bottleId = item.BottleId })
        </td>
    </tr>
}

</table>
