@model mycantina.UI.ViewModels.Bottle.BottleDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BottleDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrapeVariety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrapeVariety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WineType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <div id="select-user-form" class="col-md-offset-2">

        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Add to collection" id="add-collection-btn" class="btn btn-primary" />
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script id="user-select-template" type="text/x-handlebars-template">
<p>Insert dropdownlist here.</p>
</script>

@section Scripts {
    <script src="~/Scripts/add-bottle-to-collection.js"></script>
    <script src="~/Scripts/handlebars.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}